// ================================
//  Global Style
// ================================
*, 
*:after,
*:before 
	-mox-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box
	margin: em(0px)
	padding: em(0px)

html,
body
	height: 100%

body 
	background-color: x-default
	color: x-dark-gray

	font-family: open-sans
	font-size: 16px
	font-smoothing: antialiased

	text-rendering: optimizeLegibility
	text-size-adjust: none
	
h1, h2, h3, h4, h5, h6
	font-family: open-sans
	font-weight 700
	
ol, ul
	list-style: none
	
a
	text-decoration: none

p
	font-family open-sans
	font-weight 500
	& b
		font-family open-sans
		font-weight 700
	
img
	width: 100%

.container
	position: relative
	max-width: em(1200px)
	width: 100%
	height: 100%
	margin-left: auto
	margin-right: auto

	clearfix()