//- Use +button()
//- Parameters:
//-    theme: this parameter is classes to insert in your button
//-    link: is the your href link
//-    text: text of your button
mixin button(theme, link, text)
	a(class='x-btn x-btn--' + theme, href=link) #{text}