nav(class='x-navigation')
	div(class='container')
		div(class='x-navigation__logo')
			img(class='enext-logo', src='assets/images/enext.png', alt='enext')

		div(class='x-navigation__links')
			ul(class='navigation-list')
				li(class='navigation-list__item')
					a(href="#", target='_blank') Components List