doctype html
html(lang='pt-br')

	head

		title Enext - Boilerplate

		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=EmulateIE9")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="cache-control" content="max-age=0")
		meta(http-equiv="cache-control" content="no-cache")
		meta(http-equiv="expires" content="-1")
		meta(http-equiv="pragma" content="no-cache")
		link(rel='stylesheet', href='assets/stylesheet/application.css')

	body
		main
			//- Mixins
			include _mixins/button

			//- Includes
			include _includes/navigation

			//- Views
			include _views/section-1

		script(src='assets/javascript/bundle.js')
