.modal-wrapper
	position: fixed
	top: 50%
	left: 50%
	
	width: 50%
	height: 50%
	
	transform: translate3D(-50%, -50%, 0)
	box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.4)
	
	background-color: brand-default
	color: brand-blue-4
	
	border: 0px
	border-radius: 8px
	
	padding: 20px
	
	&.is-active
		animation: slideDownModal 400ms ease
	
.modal-content
	position: relative
	padding-top: 10px
	.modal-in
		display: block
		
.modal-in
	display: none
	
.modal-close
	position: absolute
	top: 0px
	right: 0px
	
	width: 30px
	height: 10px

	border: 0px
	border-radius: 10px

	background-color: brand-blue-4
	cursor: pointer
	
	transition: all 250ms ease
	
	&:focus
		outline: none
	&:active
		transform: translateY(1px)
	&:hover
		background-color: brand-blue-3