.x-navigation 
	width 100%
	height 70px
	background-color x-blue	
	
	+el('logo')
		grid(30%)
		
		.enext-logo
			width 75px
			padding 20px 0px
		
	+el('links')
		grid(70%)
		text-align right
		
		.navigation-list
			color #555
			
			+el('item')
				display inline-block
				padding 0px 5px
				margin 22px 0px
				border-right 1px solid #555
				
				& a
					font-family open-sans
					font-weight 700
					font-size 14px
					text-transform uppercase
					color x-default
					
				&:last-child
					border 0px
