// =======================================
//  Animations
// =======================================
	// -------------------------------------
	// Slide to Left
	@keyframes slideLeft
		0%
			opacity: 0
			transform: translateX(-50px)
		100%
			opacity: 1
			transform: translateX(0px)
			
	// -------------------------------------
	// Fade effect
	@keyframes fadeIn
		0%
			opacity: 0
			transform: translateY(-10px)
		100%
			opacity: 1
			transform: translateY(0px)
			
	// -------------------------------------
	// Fade effect
	@keyframes fadeDown
		0%
			opacity: 0
			transform: translateY(-50px)
		100%
			opacity: 1
			transform: translateY(0px)
			
	// -------------------------------------
	// Fade effect
	@keyframes fadeLeft
		0%
			opacity: 0
			transform: translateX(-50px)
		100%
			opacity: 1
			transform: translateX(0px)
			
	// -------------------------------------
	// Fade effect
	@keyframes fadeRight
		0%
			opacity: 0
			transform: translateX(50px)
		100%
			opacity: 1
			transform: translateX(0px)