// =======================================
//  Buttons
// =======================================
.x-btn 
	position relative

	display inline-block
	padding 10px 20px
	
	box-sizing border-box
	border 0px
	
	font-family open-sans
	font-size 16px
	font-weight 700

	text-align center
	text-transform uppercase
	text-decoration none

	vertical-align middle
	touch-action manipulation

	margin 0px auto

	cursor pointer
	user-select none
	transition all 300ms ease

	+mod('red')
		color #FFF
		background-color x-red
		border-radius 5px
	
		&:hover
			color #FFF
			background-color x-dark-red

	+mod('blue')
		color #FFF
		background-color x-blue
		border-radius 5px
	
		&:hover
			color #FFF
			background-color x-dark-blue