.x-input
	padding 10px 15px
	border-radius 5px
	border 1px solid x-light-gray
	transition all 300ms ease
	
	&:focus
		outline none
		box-shadow 0px 5px 10px rgba(0, 0, 0, 0.1)
		
	+mod('first')
		border 1px solid x-dark-gray
		
		&:focus
			background-color x-mid-white
		
	+mod('second')
		background-color x-light-blue
		
		&:focus
			background-color x-blue
			color x-default
			
			&::selection
				color x-default
			
			&::placeholder
				color x-default
			
		&::placeholder
			color x-black