.x-home-intro	
	padding 15px 0px 0px
	
	& h3 
		font-size 16px
		
	& h5
		font-size 14px
		padding 5px
		background-color x-blue 
		color x-default
		margin 10px 0px 5px
		
	& h6 
		padding-left 10px
		margin 12px 0px
		
		& b
			padding 5px
			background-color x-dark-gray
			color x-default
			
	+mod('second')
		& h5
			background-color x-blue  
			color x-default
			
		& h6 			
			& b
				padding 5px
				background-color x-dark-gray
				color x-default
			& span
				padding-left 15px
				&:before
					content '▶ '