// =======================================
//  Variables
// =======================================
	
	// ------------------------------
	// xs
	x-default 		    =    #F7F7F7
	
	x-light-gray 	    =    #777
	x-dark-gray   		=    #525255
	
	x-blue            =    #2579C6
	x-light-blue      =    #9DC5FF
	x-dark-blue       =    #609DD5

	x-red             =    #C62525
	x-light-red       =    #D56060
	x-dark-red        =    #7F1818
	
	x-green           =    #69DD95
	x-light-green     =    #91E6B1
	x-dark-green      =    #438D5F

	x-orange          =    #F4A244
	x-light-orange    =    #F7BB77
	x-dark-orange     =    #9C682C

	x-black           =    #141B2F
	x-dark-gray       =    #434959
	x-mid-gray        =    #727682
	x-light-gray      =    #ADAFB6

	x-white           =    #F6F7FA
	x-mid-white       =    #EFF1F6
	
	
	// -------------------------------------
	// Font Pattern
	open-sans         =    'Open Sans', sans-serif
	poppins           =    'Poppins', sans-serif

	// -------------------------------------
	// Breakpoints
	bp-mobile         =    320px
	bp-tablet         =    768px
	bp-notebook       =    1024px
	bp-desktop        =    1440px

	// -------------------------------------
	// Grid columns size
	col-1             = 7.04225%
	col-2             = 15.49296%
	col-3             = 23.94366%
	col-4             = 32.39437%
	col-5             = 40.84507%
	col-6             = 49.29577%
	col-7             = 57.74648%
	col-8             = 66.19718%
	col-9             = 74.64789%
	col-10            = 83.09859%
	col-11            = 91.5493%
	col-12            = 100%