section(class='section section--header')
	div(class='container')

		div(class='x-home-intro')

			input(type='text', class='x-input', placeholder='Input default')
			input(type='text', class='x-input x-input--first', placeholder='Input style one')
			input(type='text', class='x-input x-input--second', placeholder='Input style two')