section(class='section section--header')
	div(class='container')

		div(class='x-home-intro')
			h3 This boilerplate contains base files to start development of your project.
			h5 Used Tecnologies
			h6 
				b pug template engine
				|  - build your HTML files
			h6 
				b stylus
				|  - build your CSS files
			h6 
				b gulp
				|  - automate your taks
			h6 
				b browser-sync
				|  - auto reload your browser when save changed files

		div(class='x-home-intro x-home-intro--second')
			h5 How to use
			h6 Start your gulpfile with the commands
			h6 
				span run 
				b gulp
				|  to execute default task
			h6 
				span run 
				b gulp pug
				|  to compile .PUG files to .HTML files
			h6 
				span run 
				b gulp stylus
				|  to compile .STYL files to .CSS files
			h6 
				span run 
				b gulp copy
				|  to copy all files to 
				b /dist
				|  folder
			h6 
				span run 
				b gulp build
				|  to compile all files

			h6 or
			h6 
				span run 
				b npm start 
				|  to init 
				b gulpfile.babel.js
			h6 
				span run 
				b npm run build
				|  to compile your project

			h6 After run command to execute your default task, you have two link of acess your landing page.
			h6 
				span Local: 
				b http://localhost:3000/
			h6 
				span External: 
				b http://your-ip:3000/